body {
    overflow-x: hidden;
}

#splash_section {
    background-image: url(img/stock/stock_index.jpg);
    background-size: cover;
    background-position: 49% 10%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100vw;
    width: 100vw;
    height: 100vh;

}

#splash_section .section_wrapper {
    position: absolute;
    top: 50vh;
}
/*----------ANIMATION-------------*/

.splash_ani {
    animation-name: splash_ani_kf;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: ease;

}

@keyframes splash_ani_kf{
    0% {
        transform: translateX(-10vw);
        opacity: 0;
    }

    100% {
        transform: translateX(10vw);
        opacity: 1;
    }
}

#splash_section .section_wrapper .splash_txt {
    text-align: center;
}



/*------------------------------*/

#portfolio_section .section_wrapper {
    background-color: #AFC5BC;
    color: white;
}

#portfolio_section .section_wrapper .col_left {
    padding: 4rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;

    text-align: center;

}

#portfolio_section .section_wrapper .col_right img {
    object-fit: cover;
    width: 100%;
    height: 70vh;
}



.button p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    cursor: pointer;

}

#kompetencer_section .section_wrapper {
    padding: 4rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    vertical-align: top;
}

#kompetencer_section h2 {
    text-align: center;
    margin-top: 1rem;
}

#kompetencer_section .section_wrapper img {
    width: 35%;
    border-radius: 50%;
    margin: 1rem;

    background-color: #F4EDE7;
}

#kompetencer_section .section_wrapper .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;

    text-align: center;
}

#kompetencer_section .hr_line {
    background-color: #d9d9d9;
    padding: 0.1rem;
    margin-left: 47vw;
    margin-right: 47vw;
    margin-top: 0.5rem;
}

#contact_section .section_wrapper {
    padding: 4rem;
    background-color: #AFC5BC;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}

#contact_section .section_wrapper .col {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}

#contact_section .section_wrapper h6 {
    font-size: 2rem;
    text-align: right;
    padding-top: 2rem
}

#contact_section .section_wrapper .col_right {
    background-color: #ffffff;
    padding: 2rem;
    box-shadow: 5px 5px 10px grey;
}

#genvej_section .section_wrapper {
    background-image: url(img/stock/picture5.jpg);
    background-size: cover;
    background-position: 49% 10%;
    text-align: center;
    padding-top: 50%;
    padding: 5rem;
}



/*-----DESKTOP-----*/
@media only screen and (min-width: 1000px) {

    #splash_section {
        height: 100vh;
    }

    #portfolio_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 4rem;

    }

    #portfolio_section .section_wrapper .col_left {
        margin: 2rem;
        text-align: left;
    }

    #portfolio_section .section_wrapper .col_right img {
        object-fit: cover;
        width: 80%;
        float: right;
        height: 100%;

    }

    .fine_line {
        background-color: #472B20;
        width: 8%;
        margin: 0 auto;

    }

    .button p {
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
        cursor: pointer;
    }

    #kompetencer_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 5rem;

        padding: 4rem;
    }

    #kompetencer_section h2 {
        text-align: center;
        margin-top: 1rem;
    }

    #kompetencer_section .section_wrapper img {
        width: 35%;
    }

    #kompetencer_section .section_wrapper .col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;

        text-align: center;
    }

    #contact_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 4rem;

        padding: 4rem;
    }

    #contact_section .section_wrapper h6 {
        font-size: 2rem;
        text-align: right;
        padding-top: 2rem
    }

    #contact_section .section_wrapper .col_right {
        background-color: #ffffff;
        padding: 6rem;
        box-shadow: 5px 5px 10px grey;
    }

    #contact_section .section_wrapper .col img {
        object-fit: cover;
        width: 100%;
    }

    #genvej_section .section_wrapper {
        background-image: url(img/stock/picture7.jpg);
        background-size: cover;
        background-position: 49% 10%;
        text-align: center;
        padding-top: 50%;
        padding: 5rem;
    }

    .under_picture {
        background-image: url("img/stock/stock_index.jpg");
        min-height: 40vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }

}
