/*---------HUSK MEDIA QUERY-----------*/

#front_section {
    background-image: url(img/stock/stock_index.jpg);
    background-size: cover;
    background-position: 49% 10%;
    max-width: 100vw;
    width: 100vw;
    height: 20vw;
}

#gallery_section h2 {
    padding: 1rem;
    text-align: center;
}


#gallery_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}


#gallery_section .section_wrapper .port_container {
    padding: 0.5rem;
    padding-bottom: 5rem;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px grey;
    margin: 3rem;

    margin: 0 auto;
    width: 75%;
}

.port_container {
    position: relative;
    width: 100%;
}

/*-----RESPONSIVE BILLEDER--------*/
.port_image {
    display: block;
    width: 100%;
    height: auto;
    transition: transform .2s;
}

.port_image:hover {
    transform: scale(1.05);
}

.overlay {
    position: absolute;
    top: 91%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    width: 100%;
    transition: 0.5s ease;
    font-size: 2rem;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Dawning of a New Day', cursive;
}

@media only screen and (min-width: 1000px) {

    #gallery_section h2 {
        padding: 1rem;
        text-align: center;
    }


    #gallery_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 5rem;

        width: 90%;
        margin: 0 auto;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 2rem;
        padding-top: 1rem;
    }


    #gallery_section .section_wrapper .port_container {
        padding: 1rem;
        padding-bottom: 5rem;
        background-color: #ffffff;
        box-shadow: 5px 5px 10px grey
    }

    .port_container {
        position: relative;
        width: 100%;
    }

    /*-----RESPONSIVE BILLEDER--------*/
    .port_image {
        display: block;
        width: 100%;
        height: auto;
        transition: transform .2s;
    }

    .port_image:hover {
        transform: scale(1.05);
    }

    .overlay {
        position: absolute;
        top: 88%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
        width: 100%;
        font-size: 2rem;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-family: 'Dawning of a New Day', cursive;
    }
}
