/*---------HUSK MEDIA QUERY-----------*/
body {
    background-color: #EEEDE9;
}

h1 {
        font-weight: 600;
    }

#project_section .section_wrapper {
    text-align: center;
    padding: 2rem;
}

#intro_section .section_wrapper .col_left {
    padding: 4rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;

    text-align: center;
}

#display_section .section_wrapper {
    /*BILLEDEGALLERI*/
}

#outro_section .section_wrapper {
    background-color: #AFC5BC;
}

#outro_section .section_wrapper .col {
    padding: 4rem;
    padding-bottom: 2rem;
    text-align: center;
    color: white;
}


#outro_section .section_wrapper .col {
    margin-bottom: 2rem;
}

#outro_section .section_wrapper .col_desktop {
    display: none;
}

#resume_section .section_wrapper {
    text-align: center;
    padding: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-bottom: 1rem;
}

#buttons_section .section_wrapper {
    padding: 2rem;
    text-align: center;
}

.button_project {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: white;
    margin-top: 2rem;
    text-align: center;
    background-color: #D5B6A2;
    color: white;
    box-shadow: 5px 5px 5px grey;
}


/*-------------MEDIA QUERY DESKTOP--------------------*/

@media only screen and (min-width: 1000px) {
    #project_section .section_wrapper {
        text-align: center;
        padding: 2rem;
    }

    #project_section .section_wrapper h1 {
        padding-top: 5rem;
    }

    #intro_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4rem;

        padding: 2rem;
        margin-top: 1rem;
        text-align: left;
    }


    #intro_section .section_wrapper .col_right {
        background-color: #EEEDE9;
    }

    #intro_section .section_wrapper .col_right img {
        box-shadow: 5px 5px 5px grey;
    }

    #intro_section .section_wrapper .col_left {
        margin-top: 10%;
        text-align: left;
    }

    #outro_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4rem;

        padding: 2rem;
        margin-top: 1rem;

        text-align: left;
    }

    #outro_section .section_wrapper .col {
        margin-top: 10%;
        text-align: left;
    }

    #outro_section .section_wrapper .col_mobile {
        display: none;
    }

    #outro_section .section_wrapper .col_desktop {
        display: block;
        padding: 2rem;
    }

    #outro_section .section_wrapper .col_desktop img {
        box-shadow: 5px 5px 5px grey;
    }

    .button_project {
        display: inline-block;
        margin: 4rem;
    }

    #resume_section .section_wrapper {
        text-align: center;
        padding: 4rem;
        margin-left: 5rem;
        margin-right: 5rem;
    }
}

@media only screen and (max-width: 1000px) {

    h2 {
        font-size: 1.7rem;
    }
}
